.navbar-right(ng-controller='mvNavBarLoginCtrl')
  div(ng-hide='identity.isAuthenticated()')
    ul.nav.navbar-nav
      li
        a(href="/signup") Sign Up
    form.navbar-form.navbar-right(name="loginForm")
      .form-group
        input.form-control(type="text", placeholder="Email / Username", ng-model="username", required)
      .form-group
        input.form-control(type="password", placeholder="Password", ng-model="password", required=)
      button.btn.btn-primary(ng-click="signin(username, password)", ng-disabled="loginForm.$invalid") Sign In
  ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
    li.dropdown
      a.dropdown-toggle(href="", data-toggle='dropdown')
        | {{ identity.currentUser.firstName + " " + identity.currentUser.lastName }}
        b.caret
      ul.dropdown-menu
        li(ng-show='identity.currentUser.isAdmin()')
          a(href="/admin/users") User Admin
        li
          a(href="/profile") Profile
        li
          a(href="", ng-click='signout()') Sign Out
